DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
BREVO_API_KEY=YOUR_BREVO_API_KEY_HERE
ADMIN_EMAIL=admin@example.com
BLOB_READ_WRITE_TOKEN=YOUR_VERCEL_BLOB_TOKEN_HERE
